.header {
    text-align: center;
    color: var(--second-color);
    background: var(--primary-color);
  }
  
  .header h1 {
    padding-top: 4rem;
    font-size: 2rem;
  }
  
  .header img {
    width: 300px;
    height: auto;
    border-radius: 50%;
  }
  
  .formContainer {
    width: 100%;
  }
  
  .title {
    text-align: center;
    color: var(--second-color);
    background: var(--primary-color);


  }

  .form {
    margin: 0 auto;
    border-radius: 4px;
    width: 80%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .formInput {
    width: 80%;
    padding: 12px 32px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    margin-bottom: 1rem;
  }
  
  .formTextArea {
    width: 80%;
    padding: 12px 32px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    margin-bottom: 1rem;
  }
  
  
  .formButton {
    background-color: var(--text-sobre);
    border: none;
    color: white;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 1rem;
    width: 80%;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .formButton:hover {
    background-color: var(--second-color);
  }